/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03opetarors/BasicOperations/nbproject/private/
/workshops/JavaApplication5/nbproject/private/
/workshops/unit1/WS03opetarors/BasicOperations/build/
/workshops/unit1/WS02numbers/Numbersevenandodd/nbproject/private/
/workshops/unit1/WS02numbers/Numbersevenandodd/build/
/Assigment/Cost of a trip/nbproject/private/
/Assigment/COSTOFATRIP/nbproject/private/
/Assigment/COSTOFATRIP/build/
/Assigment/UNIT 1/Cost of a trip/nbproject/private/
/Assigment/UNIT 1/Cost of a trip/build/
/Assigment/UNIT 1/HW02/Cost of a Trip Assigment/nbproject/private/
/Assigment/UNIT 1/HW02/Cost of a Trip Assigment/build/
/workshops/unit1/WS04 -LogicalOperators/Logical Operators/nbproject/private/
/workshops/unit1/WS04 -LogicalOperators/Logical Operators/build/
/workshops/unit1/WS05ALTERATIONS/WS05ALTERATIONS/nbproject/private/
/workshops/unit1/WS05ALTERATIONS/WS05ALTERATIONS/build/
/Assigment/UNIT 1/HW03/HW03 ALTERATIONS/nbproject/private/
/Assigment/UNIT 1/HW03/HW03 ALTERATIONS/build/
/workshops/unit1/WS05INTERATIONS/WS05INTERATIONS/nbproject/private/
/workshops/unit1/WS05INTERATIONS/WS05INTERATIONS/build/
/Assigment/UNIT 1/HW03/HW03 ITERATIONS/nbproject/private/
/Assigment/UNIT 1/HW03/HW03 ITERATIONS/build/
/workshops/unit1/WS07MENUS/WS07Menus/nbproject/private/
/workshops/unit1/WS07MENUS/WS07Menus/build/
/workshops/unit1/WS07MENUS/WS07MENU/nbproject/private/
/workshops/unit1/WS07MENUS/WS07MENU/build/
/Assigment/UNIT 1/HW04/HW04/nbproject/private/
/Assigment/UNIT 1/HW04/HW04/build/
/Assigment/UNIT 1/HW04/HW04MENU/nbproject/private/
/Assigment/UNIT 1/HW04/HW04MENU/build/
/EXAMS/UNIT 1/BarrigaKarenQ11/nbproject/private/
/EXAMS/UNIT 1/BarrigaKarenQ11/build/
/PROJECT/PY01KATHERINEJOHNSON/nbproject/private/
/workshops/Unit2/WS08debugging/nbproject/private/
/workshops/Unit2/WS08debugging/build/
/Assigment/UNIT 2/HW08-FACTORIALNUMBER/nbproject/private/
/Assigment/UNIT 2/HW08-FACTORIALNUMBER/build/
/Assigment/UNIT 2/HW08-FactorialNumber/nbproject/private/
/Assigment/UNIT 2/HW08-FactorialNumber/build/
/Assigment/UNIT 2/HW09-EmbeddedStructures/nbproject/private/
/Assigment/UNIT 2/HW09-EmbeddedStructures/build/
/workshops/Unit2/WS10Functions/nbproject/private/
/workshops/Unit2/WS10Functions/build/
/workshops/Unit2/WS10 FUCTIONS/nbproject/private/
/workshops/Unit2/WS10 FUCTIONS/build/
/workshops/Unit2/HW10-FUCTIONS/nbproject/private/
/Assigment/UNIT 2/HW10-FUCTIONS/nbproject/private/
/Assigment/UNIT 2/HW10-FUCTIONS/build/
/Assigment/UNIT 2/DISTANCIAEUCLIDIANA/nbproject/private/
/Assigment/UNIT 2/DISTANCIAEUCLIDIANA/build/
/Assigment/UNIT 2/HW11RECURSION/nbproject/private/
/Assigment/UNIT 2/HW11RECURSION/build/
/workshops/Unit2/WS11RECURSIONS/nbproject/private/
/workshops/Unit2/WS11RECURSIONS/build/
/workshops/Unit2/WS11FUCTIONS AND RECURSIONS/nbproject/private/
/workshops/Unit2/WS11FUCTIONS AND RECURSIONS/build/
/Assigment/UNIT 2/HW11.2REFACTORY/nbproject/private/
/Assigment/UNIT 2/HW11.2REFACTORY/build/
/workshops/Unit2/WS12LIBRARIES/nbproject/private/
/workshops/Unit2/WS12LIBRARIES/build/
/Assigment/UNIT 2/HW12-LIBRARIES/nbproject/private/
/Assigment/UNIT 2/HW12-LIBRARIES/build/
/Assigment/UNIT 2/HW12-TAXES/nbproject/private/
/Assigment/UNIT 2/HW12-TAXES/build/
/workshops/Unit2/WS13-TASK/nbproject/private/
/workshops/Unit2/WS13-TASK/build/
/workshops/Unit2/FruitsSimulator/nbproject/private/
/workshops/Unit2/WS14-FarmSimulaton/nbproject/private/
/workshops/Unit2/WS14-FarmSimulaton/build/
/workshops/Unit2/WS14-FARMSIMULATION/nbproject/private/
/workshops/Unit2/WS14-FARMSIMULATION/build/
/Assigment/UNIT 2/HS14-ARRAYS/nbproject/private/
/Assigment/UNIT 2/HS14-ARRAYS/build/
/Assigment/UNIT 2/HW14-FRUITSSIMULATOR/nbproject/private/
/Assigment/UNIT 2/HW14-ARRAYFRUITSSIMULATOR/nbproject/private/
/Assigment/UNIT 2/HW14-ARRAYFRUITSSIMULATOR/build/
/Quizz/QUIZZ 22-FEBRUARY/nbproject/private/
/Quizz/QUIZZ 22-FEBRUARY/build/
/workshops/Unit2/Q01.02222021arrays(solution)/nbproject/private/
/workshops/Unit2/Q01.02222021arrays(solution)/build/
/workshops/Unit2/WS15-SOLUTIONQUIZZ/nbproject/private/
/workshops/Unit2/WS15-SOLUTIONQUIZZ/build/
/workshops/Unit2/WS15-CORRECTIONEXAM/nbproject/private/
/workshops/Unit2/WS15-CORRECTIONEXAM/build/
/workshops/Unit2/WS16-MATRIXADDITION/nbproject/private/
/workshops/Unit2/WS16-MATRIXADDITION/build/
/Assigment/UNIT 2/HW15-MatrixOperation/nbproject/private/
/Assigment/UNIT 2/HW15-MatrixOperation/build/
/workshops/Unit2/WS17-MatrixTransposition/nbproject/private/
/workshops/Unit2/WS17-MatrixTransposition/build/
/Assigment/UNIT 2/HW16MatrixFuction/nbproject/private/
/Assigment/UNIT 2/HW16MatrixFuction/build/
/Assigment/UNIT 2/PROBANDO Xd/nbproject/private/
/Assigment/UNIT 2/PROBANDO Xd/build/
/EXAMS/UNIT 2/BarrigaEXAM2/nbproject/private/
/EXAMS/UNIT 2/BarrigaEXAM2/build/
/workshops/Unit3/WS19/BorjaXQ11/nbproject/private/
/workshops/Unit3/WS19/BorjaXQ11/build/
/workshops/Unit2/WS10 FUCTIONS/dist/
/workshops/Unit3/WS21 FUCTIONS/nbproject/private/
/workshops/Unit3/WS21 FUCTIONS/build/
/workshops/Unit3/WS21 FUCTIONS/dist/
/workshops/Unit3/WS22Modularity/ModularCalculator/nbproject/private/
/workshops/Unit3/WS22Modularity/ModularCalculator/build/
/workshops/Unit3/WS23Libraries/TaxDeclaration/nbproject/private/
/workshops/Unit3/WS23Libraries/TaxLibrary/nbproject/private/
/workshops/Unit3/WS23Libraries/TaxLibrary/build/
/workshops/Unit3/WS23Libraries/TaxLibrary/dist/
/workshops/Unit3/WS23Libraries/TaxDeclaration/build/
/Assigment/UNIT 3/HW17MatrixLibraries/nbproject/private/
/Assigment/UNIT 3/MatrixLibrary/nbproject/private/
/Assigment/UNIT 3/MatrixLibrary/build/
/Assigment/UNIT 3/MatrixLibrary/dist/
/Assigment/UNIT 3/HW17MatrixLibraries/build/
/workshops/Unit3/WS24SortingAlgorithms/Sorting/nbproject/private/
/workshops/Unit3/WS24SortingAlgorithms/Sorting/build/
/Assigment/UNIT 3/HW18Searching/HW18Searching/nbproject/private/
/Assigment/UNIT 3/HW18Searching/HW18Searching/build/
/workshops/Unit3/WS25OperationsWithStrings/Contacts/nbproject/private/
/workshops/Unit3/WS25OperationsWithStrings/Contacts/build/
/workshops/Unit3/WS25OperationsWithStrings/WS25BreedofDogs/nbproject/private/
/workshops/Unit3/WS25OperationsWithStrings/WS25BreedofDogs/build/
/Assigment/UNIT 3/HW18/HW19Numbers/nbproject/private/
/Assigment/UNIT 3/HW18/HW19Numbers/build/
/workshops/Unit3/WS25OperationsWithStrings/SortingIntegers/nbproject/private/
/workshops/Unit3/WS25OperationsWithStrings/SortingIntegers/build/
/workshops/Unit3/WS25OperationsWithStrings/SortingIntegers/dist/
/Assigment/UNIT 3/HWS20 Sort/Vegetables/nbproject/private/
/Assigment/UNIT 3/HWS20 Sort/Vegetables/build/
/Assigment/UNIT 3/HWS20 Sort/HW20Vegetables/nbproject/private/
/Assigment/UNIT 3/HWS20 Sort/HW20Vegetables/build/