/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03opetarors/BasicOperations/nbproject/private/
/workshops/JavaApplication5/nbproject/private/
/workshops/unit1/WS03opetarors/BasicOperations/build/
/workshops/unit1/WS02numbers/Numbersevenandodd/nbproject/private/
/workshops/unit1/WS02numbers/Numbersevenandodd/build/
/Assigment/Cost of a trip/nbproject/private/
/Assigment/COSTOFATRIP/nbproject/private/
/Assigment/COSTOFATRIP/build/
/Assigment/UNIT 1/Cost of a trip/nbproject/private/
/Assigment/UNIT 1/Cost of a trip/build/
/Assigment/UNIT 1/HW02/Cost of a Trip Assigment/nbproject/private/
/Assigment/UNIT 1/HW02/Cost of a Trip Assigment/build/