/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03opetarors/BasicOperations/nbproject/private/
/workshops/JavaApplication5/nbproject/private/
/workshops/unit1/WS03opetarors/BasicOperations/build/
/workshops/unit1/WS02numbers/Numbersevenandodd/nbproject/private/
/workshops/unit1/WS02numbers/Numbersevenandodd/build/
/Assigment/Cost of a trip/nbproject/private/
/Assigment/COSTOFATRIP/nbproject/private/
/Assigment/COSTOFATRIP/build/
/Assigment/UNIT 1/Cost of a trip/nbproject/private/
/Assigment/UNIT 1/Cost of a trip/build/
/Assigment/UNIT 1/HW02/Cost of a Trip Assigment/nbproject/private/
/Assigment/UNIT 1/HW02/Cost of a Trip Assigment/build/
/workshops/unit1/WS04 -LogicalOperators/Logical Operators/nbproject/private/
/workshops/unit1/WS04 -LogicalOperators/Logical Operators/build/
/workshops/unit1/WS05ALTERATIONS/WS05ALTERATIONS/nbproject/private/
/workshops/unit1/WS05ALTERATIONS/WS05ALTERATIONS/build/
/Assigment/UNIT 1/HW03/HW03 ALTERATIONS/nbproject/private/
/Assigment/UNIT 1/HW03/HW03 ALTERATIONS/build/
/workshops/unit1/WS05INTERATIONS/WS05INTERATIONS/nbproject/private/
/workshops/unit1/WS05INTERATIONS/WS05INTERATIONS/build/
/Assigment/UNIT 1/HW03/HW03 ITERATIONS/nbproject/private/
/Assigment/UNIT 1/HW03/HW03 ITERATIONS/build/
/workshops/unit1/WS07MENUS/WS07Menus/nbproject/private/
/workshops/unit1/WS07MENUS/WS07Menus/build/
/workshops/unit1/WS07MENUS/WS07MENU/nbproject/private/
/workshops/unit1/WS07MENUS/WS07MENU/build/
/Assigment/UNIT 1/HW04/HW04/nbproject/private/
/Assigment/UNIT 1/HW04/HW04/build/
/Assigment/UNIT 1/HW04/HW04MENU/nbproject/private/
/Assigment/UNIT 1/HW04/HW04MENU/build/
/EXAMS/UNIT 1/BarrigaKarenQ11/nbproject/private/
/EXAMS/UNIT 1/BarrigaKarenQ11/build/